body {
    color: white;
    background-color: rgba(70, 69, 69, 0.685);
  }

  .content {
    display: grid;
    grid-template-columns: 28rem 1fr;
    grid-template-rows: 6rem, 54rem;
  }

  .header {
      height: 6vw;
      background-color: aqua;
}

  .side-bar {
    grid-column-start: 1;
    grid-row-end: 5;
    display: flex;
    background-color: blue;
  }

  .main-div{
    display: flex;
  }

  .todo {
    display: block;
    width: 20vw;
    height: 15vw;
    border: 1px solid black;
  }